h3{
    text-align: center;
    color: rgb(218, 28, 28);
    font-size: 25px;
    font-weight: 600;
}
.card{
    background-color: aliceblue;
    margin-top: 35px;
    width: 250px;
    height: 100%;
}
p{
    text-align: center;
}
#hh{
    background-color: aqua;
}